.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  margin-bottom: 0;
}

.body {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.page-wrapper {
  overflow: clip;
}

.hero-section {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.hero-content-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-title-wrap {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.heading-h1 {
  text-shadow: 0 0 20px #ffffffd9;
  font-size: 60px;
  line-height: 1.2;
}

.container {
  width: 100%;
  max-width: 90%;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  z-index: 9;
  position: fixed;
  inset: 0% 0% auto;
}

.down-arrow-wrap {
  width: 50px;
  height: 50px;
  position: absolute;
  inset: auto auto 130px;
}

.html-code, .navbar {
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-logo {
  width: 200px;
  display: none;
}

.brand {
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.background-video {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.background-video.mobile {
  display: none;
}

.header-black-logo {
  width: 200px;
}

.about-us-section {
  z-index: 1;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  height: 300vh;
  display: flex;
  position: relative;
}

.about-us-wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

.about-us-block {
  width: 500vw;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.about-us-box {
  flex: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 5vw;
  display: flex;
}

.about-us-box.hide {
  display: none;
}

.about-us-box.width-100 {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-us-box-content {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: .8fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

.about-image-wrap {
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-us-title-box {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
}

.about-us-heading {
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 84px;
  font-weight: 800;
  line-height: 1.3;
  position: absolute;
}

.about-us-list-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: #ffffffe6;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
}

.heading-h3 {
  font-family: Montserrat, sans-serif;
  font-size: 34px;
  line-height: 1.3;
}

.about-us-list-item-block {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: none;
}

.about-us-list-item {
  z-index: 1;
  flex: none;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.about-us-list-item.hide {
  display: none;
}

.about-us-item-image {
  border-radius: .625rem;
  width: 100%;
  height: 32rem;
  overflow: hidden;
}

.about-us-item-contant-box {
  z-index: 2;
  color: #000;
  background-color: #fff;
  border-radius: .625rem;
  width: 100%;
  max-width: 600px;
  position: absolute;
  inset: auto auto 5% 5%;
}

.heading-h4 {
  font-size: 22px;
  line-height: 1.3;
}

.text-color-white {
  color: #fff;
}

.counter-wrap {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.about-us-title-block {
  font-size: 18px;
  line-height: 1.5;
}

.counter-box {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
}

.counter-sub-title {
  font-size: 16px;
  font-weight: 400;
}

.get-a-quote-button-wrap {
  z-index: 1;
  background-color: #fff;
  border-top-right-radius: 16px;
  padding-top: 40px;
  padding-right: 52px;
  position: absolute;
  inset: auto auto 0% 0%;
}

.get-a-quote-button {
  color: #fff;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px 24px;
  font-size: 20px;
  text-decoration: none;
}

.about-us-list-block {
  flex: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  position: relative;
}

.about-us-list-block.hide {
  display: none;
}

.about-us-list-block.width-100 {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-list-item {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  position: relative;
}

.about-list-item._1 {
  z-index: 5;
}

.about-list-item._2 {
  z-index: 4;
  position: absolute;
  inset: 0%;
}

.about-list-item._3 {
  z-index: 3;
  position: absolute;
  inset: 0%;
}

.about-list-item._4 {
  z-index: 2;
  position: absolute;
  inset: 0%;
}

.about-list-item._5 {
  z-index: 1;
  position: absolute;
  inset: 0%;
}

.about-us-image-wrap {
  z-index: 1;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.height-400vh {
  height: 400vh;
  position: relative;
}

.grid {
  opacity: 0;
  background-color: #1f1f1f;
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0%;
}

.about-us-overlay {
  background-color: #00000073;
  position: absolute;
  inset: 0%;
}

.join-our-telegram-button-wrap {
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.join-our-telegram-button {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #000;
  border: 2px solid #000;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.join-our-telegram-button:hover {
  color: #fff;
  background-color: #000;
}

.join-our-telegram-button.small {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fff;
  background-color: #000;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 1;
}

.hero-sub-title {
  margin-top: 30px;
  font-size: 24px;
  line-height: 1.3;
}

.about-shape {
  width: 300px;
  margin-bottom: -150px;
  position: relative;
}

.div-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.about-us-heading-wrap {
  position: relative;
}

.about-us-heading-hover {
  z-index: 1;
  color: #fff0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 84px;
  font-weight: 800;
  line-height: 1.3;
  position: absolute;
  inset: 0%;
}

.about-main-box {
  width: 530px;
  height: 110px;
  position: relative;
}

.contact-button-box {
  z-index: 99;
  position: fixed;
  inset: auto 50px 50px auto;
}

.about-slider {
  display: none;
}

@media screen and (min-width: 1280px) {
  .about-us-title-block {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-box-content {
    justify-items: center;
  }

  .about-us-title-block {
    width: 100%;
    max-width: 84%;
    margin-bottom: -75px;
  }

  .about-shape {
    width: 400px;
  }
}

@media screen and (min-width: 1920px) {
  .bg-black {
    background-color: #000;
  }
}

@media screen and (max-width: 991px) {
  .heading-h1 {
    font-size: 56px;
  }

  .html-code {
    width: 28px;
  }

  .about-us-box-content {
    max-width: 100%;
    height: auto;
  }

  .about-us-title-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-us-heading {
    font-size: 64px;
  }

  .heading-h3 {
    font-size: 30px;
  }

  .about-us-item-contant-box {
    max-width: 550px;
  }

  .counter-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: wrap;
    margin-top: 30px;
  }

  .about-us-title-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size: 16px;
  }

  .counter-box {
    font-size: 46px;
  }

  .about-list-item {
    padding: 1.5rem;
    font-size: 14px;
  }

  .join-our-telegram-button {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 14px;
    font-size: 16px;
  }

  .about-us-heading-hover {
    font-size: 64px;
    display: none;
  }

  .about-main-box {
    width: 404px;
    height: 84px;
  }

  .contact-button-box {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    position: relative;
    top: auto;
  }

  .heading-h1 {
    font-size: 48px;
  }

  .container {
    max-width: 100%;
  }

  .header {
    position: fixed;
  }

  .header-logo {
    opacity: 0;
    width: 160px;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0%;
  }

  .brand {
    margin-top: -10px;
    margin-bottom: -10px;
    position: relative;
  }

  .background-video {
    display: none;
  }

  .background-video.mobile {
    display: block;
  }

  .header-black-logo {
    width: 160px;
  }

  .about-us-section {
    height: 100%;
    overflow: hidden;
  }

  .about-us-block {
    z-index: 5;
    flex-flow: column;
    width: 100%;
    height: 100%;
    position: static;
  }

  .about-us-box {
    background-image: url('../images/PART-2-0-00-10-13.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 16px;
  }

  .about-us-box-content {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
    max-width: 90%;
    height: auto;
  }

  .about-image-wrap {
    height: 40vh;
  }

  .about-us-title-box {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-us-heading {
    position: static;
  }

  .about-us-list-item {
    height: 85vh;
  }

  .about-us-item-contant-box {
    max-width: 90%;
  }

  .about-us-title-block {
    font-size: 14px;
  }

  .about-list-item {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .about-us-image-wrap {
    display: none;
  }

  .grid {
    opacity: 1;
    display: none;
    top: 100vh;
  }

  .join-our-telegram-button {
    padding: 8px 12px;
    font-size: 13px;
  }

  .about-us-heading-hover {
    position: static;
  }

  .about-main-box {
    width: 100%;
    height: auto;
  }

  .about-slider {
    display: block;
  }

  .swiper-pagination {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .heading-h1 {
    font-size: 32px;
  }

  .brand {
    margin-top: -15px;
    margin-bottom: -20px;
  }

  .about-us-box-content {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 95%;
  }

  .about-image-wrap {
    height: 30vh;
  }

  .about-us-title-box {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
  }

  .about-us-heading {
    font-size: 40px;
  }

  .heading-h3 {
    font-size: 26px;
  }

  .about-us-item-contant-box {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
  }

  .about-us-title-block {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .counter-box {
    font-size: 30px;
  }

  .counter-sub-title {
    font-size: 14px;
  }

  .about-list-item {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 1rem;
    font-size: 14px;
  }

  .grid {
    top: 86vh;
  }

  .about-us-heading-hover {
    font-size: 40px;
  }

  .about-main-box {
    width: auto;
    height: 52px;
  }
}

#w-node-_854df44f-c801-4426-eb95-d00c37305829-f9b2d6ba {
  place-self: center;
}

@media screen and (min-width: 1440px) {
  #w-node-_854df44f-c801-4426-eb95-d00c37305829-f9b2d6ba {
    align-self: center;
  }
}


